@font-face {
    font-family: 'trebuchet ms';
    src: url(font/trebuc.ttf);
}

@font-face {
    font-family: 'trebuchet ms';
    src: url(font/trebucit.ttf);
    font-style: italic;
}

@font-face {
    font-family: 'trebuchet ms';
    src: url(font/trebucbi.ttf);
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'trebuchet ms';
    src: url(font/trebucbd.ttf);
    font-style: bold;
    font-weight: bold;
}


body {
    font-family: 'trebuchet ms', sans-serif;
    color: #555;
    background: #FFF;
    tab-size: 4;
}

.table {
    color: inherit;
}

p {
    font-family: 'trebuchet ms', sans-serif;
}

a {
    color: #0056B3;
}


header h3 {
    font-family: 'century gothic', 'arial', sans-serif;
    margin-bottom: 0;
}

#content{
    margin: 60px 0 0 0;
    padding-right: 1em;
}

#collapsibleSidebar {
    overflow-x: auto;
}

#collapsibleSidebar ul li a.sec::before {
    content: "\27a4 ";
}

.sidemenu{
    padding-top: 30px;
}

.sidemenu a {
    color: inherit;
}

.sidemenu a:hover {
    color: dodgerblue;
}

.sidemenu ul{
    padding-left: 1.1rem;
   list-style-type: circle;
}

.sticky-offset{
    top: 60px;
}

.pagetitle h1{
    display: inline-block;
    padding: 0 30px 10px 0;
    border-bottom: 7px solid;
    border-bottom-color: dodgerblue;
}

.detail { 
    padding-bottom: 20px; 
    padding-top: 50px; 
    border-bottom: 1px solid #DDD; 
}

.code {
    display: block;
    margin: 0px 0px 10px;
    background-color: #F5F5F5;
    /*white-space: pre;*/
    tab-size: 4;
    border:solid gray;
    border-left-color: gray;
    border-width:1px 1px 1px .5em;
    padding:.2em .6em;
    border-radius:4px;
}

pre{
    tab-size: 4;
    -moz-tab-size: 4;
}

code {
    color: #343A40  ;
}

.code pre{
    margin-top: 1rem;
}

.algo-collapse {
    border-bottom: 1px solid #CCC;
}

ol.methods {
    
}