html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ 
    font: normal 0.95em 'trebuchet ms', arial, sans-serif;
    background: #FFF;
    color: #555;
    line-height: 1.6;
}

.header
{
    background: #333333;
    border-bottom: 1px solid #3d3d3d;
    height: 59px;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
}

h1{
  font: bold 200% 'century gothic', 'arial';
  margin: 0 0 5px 0;
  padding: 5px 0 5px 0;
}

.pagetitle h1{
  font: bold 250% 'century gothic', 'arial';
  margin-bottom: 0;
  padding: 5px 0 0 0;
}

h2, h3
{ font: bold 170% 'century gothic', 'arial';
  margin: 0 0 5px 0;
  padding: 5px 0 5px 0;
}

#title{
    float: left;
}

#title h1, #title h1 a
{
  font: normal 160% 'century gothic', arial;
  padding: 10px 0 5px 15px;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;
}

#menubar
{ padding-right: 8px;
  background: #333333;
  height: inherit;
} 

ul#menu
{ float: right;
  list-style-type: none;
  margin: 0;}

ul#menu li
{ float: left;
  /*padding: 0 0 0 9px;
  list-style: none;
  margin: 15px 4px 0 4px;*/}

ul#menu li a
{ font: normal 100% 'trebuchet ms', sans-serif;
  font-size: 17px;
  display: block; 
  float: left; 
  padding: 20px 20px 20px 20px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
} 

ul#menu li.currentpage
{  background: #5E4238;}

ul#menu li a:hover
{ color: #B48A7C;}

ul#menu li.currentpage a:hover
{ color: #FFF;}

#content{
    margin: 60px 0 0 0;
}

.sidemenu{
    width: 15%;
    margin: 30px 0 0 10px;
    padding: 40px 10px 20px 30px;
    float: left;
   /* border: 1px solid #6B6969;*/
    border-radius: 15px;
    position: fixed;
}

.sidemenu ul li{
    list-style-type: none;
    
}

.sidemenu ul li a{
    text-decoration: none;
    color: #6B6969;
}

.sidemenu ul li a:hover{
    text-decoration: underline;
    color: #B48A7C;
}

#main-content{
    width: 75%;
    padding: 20px 50px 20px 0;
    float: right;
}

.detail { margin-top: 30px; padding-top: 20px; border-top: 1px solid #DDD; }

.detail p{
    margin-bottom: 10px;
}

img{
    margin: 10px 10px 10px 10px;
    max-width: 70%;
}